<%inherit file="base.html"/>

<%def name="print_thread(messages,parent_id,current_id)">
	% for message in messages:
	% if message['parent_id'] == parent_id:
		<div style="padding-left: ${message['level']*20}px">
			% if message['id'] == current_id:
			<span class="current-message">${message['subject']}</span><br />[${message['sent']}] ${message['author']|h}
			% else:
			<a href="/message/${message['hash_id']}?q=${q|u}">${message['subject']}</a><br />[${message['sent']}] ${message['author']|h}
			% endif
		</div>
		${print_thread(messages,message['id'],current_id)}
	% endif
	% endfor
</%def>

	<h1>${message['subject']}</h1>

	<div id="message">

		<div id="message-info">
			<div><strong>List</strong>: ${message['list']|entity}</div>
			<div><strong>From</strong>: ${message['author']|entity}</div>
			<div><strong>Date</strong>: ${message['sent']}</div>
			<div><strong>Message-ID</strong>: ${message['message_id']} [<a href="/raw/${message['hash_id']}">raw</a>]</div>
		</div>

		<pre class="message-body">${message['body_plain']}</pre>

	</div>

	<div id="message-sidebar">

		<div class="box">
			<h2>Thread (${len(thread)} messages)</h2>
			<a href="/thread/${message['thread_id']}?q=${q|u}">whole thread</a>
			${print_thread(thread, None, message['id'])}
		</div>
		
		<div class="box">
			<h2>Related to</h2>
			<ul>
			% for r in references:
	<li><a href="/message/${r['hash_id']}?q=${q|u}">${r['subject']}</a> [${r['sent']}]</li>
			% endfor
			</ul>
		</div>
	</div>

