body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#message {
	width: 95ch;
	float: left;
}

h1 {
	font-size: 125%;
	color: #2554C7;
	padding: 1em 0.75em 0.5em 0em;
	margin: 0;
}

#message-info {
	background-color: #f0f0f0;
	padding: 0.75em;
}

#message-info div {
	margin-bottom: 0.25em;
}

#message-sidebar {
	margin-left: 96.5ch;
}

#message-sidebar .box {
	background-color: #f5f5ff;
	padding: 1em;
	margin: 0 0.5em 1em 0;
}

#message-sidebar .box a {
	text-decoration: none;
}

#message-sidebar .box div {
	margin: 0.25em 0 0.25em 0;
}

#message-sidebar h2 {
	font-size: 100%;
	color: #2554C7;
	padding: 0 0 0.5em 0;
	margin: 0;
}

#message-sidebar ul {
	list-style: square;
	margin: 0;
	padding: 0 0 0 1.5em;
}

#message .message-body {
	background-color: #f4f4f4;
	font-family: "Courier New";
	font-size: 15px;
	padding: 1em;
}
            
#search {
	padding: 1em;
	background-color: #2554C7;
	color: white;
	position: fixed;
	width: 100%;
	border-bottom: 5px solid white;
}
            
#search form {
	padding: 0;
	margin: 0;
}

#search input[type=text] {
	border: none;
	width: 40%;
	padding: 3px;
}
            
#footer {
	clear: both;
	padding: 1em 1em 1.5em 1.5em;
	background-color: #eee;
	color: #2554C7;
	font-size: 14px;
	border-top: 1px dashed #2554C7;
}

.highlight {
	background-color: gold;
	padding: 0 2px 0 2px;
}

.current-message {
	color: #c00;
}

#main {
	padding: 3.75em 0.75em 0.25em 0.75em;
}

.item {
	background-color: #eee;
	padding: 0.75em 0.75em 0.75em 0.75em;
	margin: 0.5em 0 0.5em 0;
}

.item h2 {
	font-size: 110%;
	margin: 0 0 0.25em 0;
	padding: 0;
}
            
.item a {
	text-decoration: none;
}
            
.item p {
	margin: 0.4em 0 0 0;
	line-height: 125%;
	padding: 0;
}
            
.item .progress-bar {
	background-color: #ddd;
	width: 100px;
	height: 14px;
	float: left;
	margin-right: 0.5em;
	margin-top: 0.1em;
}
            
.item .progress {
	background-color: #6d6;
	height: 12px;
	font-size: 12px;
	padding: 1px;
	color: black;
}

#search #dateFrom, #search #dateTo {
	border: none;
	width: 12ex;
	padding: 3px;
}